{% extends 'base.html' %}
{% load thumbnail %}

{% block container %}
  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-lg-8 col-md-7 col-sm-6">
        <h1>Fotos do casamento</h1>
        <p class="lead"></p>
      </div>
    </div>
  </div>


  <div class="container">
  <div class="row">
    {% for foto in object_list %}
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          {% thumbnail foto.imagem "140x140" crop="center" as im %}
            <img class="card-img-top" src="{{ im.url }}" alt="Imagem"/>
          {% endthumbnail %}
        </div>
      </div>
    {% endfor %}
  </div>
  </div>
{% endblock %}
